# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache
.vs/
.vscode/

# Secrets
appsettings.Development.json
appsettings.json
secrets.json
*.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db